@model ProductIndexViewModel
@{
    Layout = "_Layout";
}
<h4 class="border-bottom pb-2">
    Ürünler

    @if (ViewBag.SearchExp != null)
    {
        <small class="float-end fs-6"> '@ViewBag.SearchExp' ile (@Model.Products.Count()) kayıt bulundu</small>
    }
</h4>
<ul class="list-group">

    @foreach (var product in Model.Products)
    {
        <li class="list-group-item">
            <form method="post" data-ajax="true" data-ajax-update="#cart-summary" asp-action="AddToCart" asp-controller="Cart">
                <input type="hidden" name="productId" value="@product.Id">
                <button class="btn btn-sm btn-outline-primary float-end">Sepete Ekle</button>
            </form>
            <h6>@product.Name</h6>
            <p>@product.QuantityPerUnit</p>
            <span class="fs-6">@product.UnitPrice.ToString("c")</span>
        </li>
    }
</ul>


